<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> UST Global </title>

<!--===============================================================================================-->
	<link rel="icon" href="data:,">
	<link rel="stylesheet" href="/static/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form method="POST" action="" enctype="multipart/form-data">
				<div class="contact100-form validate-form">
				<span class="contact100-form-title">
					<h1>UST Global</h1>
					New Employee Registration Form
				</span>


				<div class="wrap-input100 validate-input" >
					<label class="label-input100" for="name">Full name</label>
					<input id="name" class="input100" type="text" name="NE" placeholder="Enter your name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<label class="label-input100">Employee UID</label>
					<input id="uid" class="input100" type="text" name="UD" placeholder="Enter your UID." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<label class="label-input100">Company Name</label>
					<input id="cname" class="input100" type="text" name="CN" placeholder="Enter your Company Name" required>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input">
					<label class="label-input100" >Email Address</label>
					<input id="cmail" class="input100" type="text" name="EL" placeholder="Enter your email" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						Submit
					</button>
				</div>
				<button style="padding: 2%; margin-top: 3%; color: rgb(229, 245, 2);" type="reset" class="contact100-form-btn">
					Reset
				</button>
				</div>

			</form>

				<div class="contact100-more flex-col-c-m" style="background-image: url('/static/bg-01.jpg');"> </div>
		</div>
	</div>

</body>
</html>
